numpy==1.26.2
pandas==2.1.4
scikit-learn>=0.24.2
flask>=2.2.5
flask-login==0.6.3
flask-socketio==5.3.6
plotly==5.18.0
dash==2.14.1
werkzeug>=2.3.7
pulp>=2.5.0
python-dotenv>=0.19.0
dash-bootstrap-components>=1.0.0
eventlet==0.33.3
python-engineio==4.8.0
python-socketio==5.10.0
